.top-bar {
    width: 100%;
    height: 56px;
    background-color: #1a488d;
    color: white;
    text-align: left;
    position: fixed;
    top: 0;
    left: 0;
    align-content: center;
    display: flex;
    position: fixed;
    z-index: 1000;
}
.nav-icon{
    height: 30px;
    width: 30px;
    margin-right: 10px;
    margin-left: 10px;
    align-items: center;
    align-self: center;
}
.title{
    align-content: center;
    flex-grow: 1;
    text-align: left;
    align-self: center;
}
.nav-space{
    width: 50px;
}