<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Home Assistant - Panel Sense</title>

        <link rel="stylesheet" type="text/css" media="screen" href="static/css/main.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="static/css/fonts.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="static/css/top_bar.css" />

        <!-- Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <script>
            document.addEventListener("turbo:load", () => {
                console.log("page loaded!")
              fetch("/user_current_page", {
                method: "POST",
                headers: {
                  "Content-Type": "application/json"
                },
                body: JSON.stringify({ current_page: window.location.pathname })
              });
            });
        </script>


        {{ turbo() }}

        {% block header %}{% endblock %}
    </head>
    <body data-turbo-suppress-warning>
            <!-- Top Bar -->
        <div class="top-bar" data-turbo-suppress-warning>
            {% if show_top_bar %}
                <img class="nav-icon" src="static/icons/arrow_left_white.png" alt="Navigate" onclick="location.href='{{ url_for('dashboard') }}'">
            {% else %}
                <div class="nav-space"></div>
            {% endif %}
            <span class="title"> {{ title }}</span>
        </div>
        {% block content %}{% endblock %}
    </body>
</html>
