{% extends "base.html" %}

{% block content %}

    {% if clients|length == 0 %}
    <div class="device-empty-placeholder">
        <span class="primary-text">No clients connected!</span>
    </div>
    {% else %}
        <div class="device-list" id="device_list">
            {% for client in clients %}

            <div class="device-item" onclick="window.location.href='/device/{{ client['installation_id'] }}'">
                <div class="device-subitem">
                    <span class="primary-text">{{ client["name"]}}</span>
                    <span class="secondary-text">{{ client["version_name"] }} ( {{ client["version_code"] }})</span>
                    {% if client.is_online %}
                    <span class="online" style="font-size: 14px;">Online</span>
                    {% else %}
                    <span class="offline" style="font-size: 14px;">Offline</span>
                    {% endif %}
                </div>
                <img src="/static/icons/arrow_right.png" style="width: 30px; height: 30px;"/>
            </div>
            {% endfor %}
        </div>
    {% endif %}

{% endblock %}
